// Inputs
// Form-Controll Bootstrap
.form-control {
    &:focus {
        box-shadow: 0 0 0 0.25rem rgb(43 166 112 / 25%) !important;
    }
}

// Select
//MAin-Select
.main-select {
    border-radius: 4px;
    padding: 4.9px 0.2rem;
    font-size: 12px !important;
    color: #858585;
    transition: $transition;
    border: 1px solid $light-grey-color;
    &:focus {
        box-shadow: 0 0 0 0.25rem rgb(43 166 112 / 25%) !important;
        outline: none;
    }
}
.accordion-button::after {
    margin-right: auto;
    margin-left: 0;
}
